@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

.primaryHeading{
    color:  #F2F2F2;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


font-family: 'Inter', sans-serif;
// font-size: 31px;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 1.1; 
}

.text{
    color:  #f2f2f2bc;

/* Body */
// font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 19.2px */
}


.block{
   height: 100%;
   width: auto;
}

.testimonial{
    height: 10rem;
}

.cohort{
    height: 80%;
    width: auto;
}